
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Base Element Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Source Code Pro', monospace, sans-serif;
}

h1, p {
  text-align: center;
}

img {
   max-width: 100%;
   max-height: 100%; 
   padding: 0;
   margin: 0;
}

a {
  color: black;
}

.main-nav {
  width: 100%;
  background: gray;
  min-height: 30px;
  padding: 3%;
  text-align: center;
  position: relative;
  display: block;
}

.nav {
  display: block;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace, sans-serif;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav .name {
  text-transform: uppercase;
  font-size: 32px;
}

.nav li {
  padding: 5px 10px 10px 10px;
  text-transform: uppercase;
  display: block; 
}

.nav li a {
  background-color: #F0EFEF;
  display: block;
}

.nav a {
  text-decoration: none;
  background-color: gray;
  padding: 8px 130px;
}

.nav a:hover {
  color: white;
}

.portfolio-piece {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
}

.main-content {
  margin: 0 auto;
}

.main-footer li {
  list-style-type: none;
}

.container-bottom {
  background-color: gray;
  padding: 3% 3% 3% 3%;
}

.contact h1 {
  text-transform: uppercase;
}

.contact a {
  text-align: center;
  text-decoration: none;
}

.second-footer ul {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries */

@media screen and (min-width: 768px){
  
  .main-nav {
    height: 350px;
  }

  .main-nav li {
    float: left;
  }

  .name {
    float: left;
    width: 100%;
  }

  .nav li a {
    display: block;
    position: relative;
    left: 200px;
    padding: 5px;
    margin: 1px;
  }

  .profile-face img {
    position: relative;
    top: 1px;
    right: 3px;
    float: right;
    max-width: 250px;
    margin-right: 2%;
  }

  .intro-text {
    position: relative;
    top: 0;
    left: 5px;
  }

  .intro-text p {
    width: 60%;
    font-size: 19px;
  }

  .col {
    display: inline-block;
    padding: 1%;
  }

  .portfolio-piece {
    width: 42%;
    margin: 2%;
  }

  .portfolio-piece h1 {
    font-size: 20px;
  }

  .portfolio-piece p {
    font-size: 13px;
  }

/*Adding obvious red text and background color 
so when I get the CSS to apply it will show for connect class
right now the css won't apply to the HTML for some reason*/

  .connect li a {
    display: block;
    float: right;
    margin: 0 5px;
    padding: 0;
    background-color: blue;
    text-decoration: none;
    list-style-type: none;
    color: red;
  }
}

@media screen and (min-width: 1024px){

  .name {
    position: absolute;
    right: 375px;
    padding: 0px;
    margin: 0px;
  }

  .nav li a {
    left: 650px;
  }

  .intro-text p {
    text-align: left;
  }

  .main-content {
    width: 90%;
  }

  .col {
    width: 28%;
  }

  .portfolio-piece {
    vertical-align: top;
    max-width: 1125px;
  }

  .profile-face img {
    max-width: 300px;
  }

}


















